/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.disableLoginBtn {
  background-color: #00235b;
  color: #04328f;
}
.enableLoginBtn {
  background-color: #00235b;
}

/* top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 absolute */
.pop {
  position: absolute;
  animation: pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Styling for the overlay */
.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: popbg 0.5s ease-out;
}
/* Keyframes for the pop-up animation */
@keyframes popbg {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* First, create a container for the element */
.container {
  position: relative;
  width: 200px;
  height: 200px;
}

/* Next, create the element */
.element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  animation: background-animation 5s linear infinite;
}

@keyframes background-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* drop down css */

.myDropdownbodyfont {
  /* background-color: #ededed; */
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

/* h1 {
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
} */

/* .myli a {
  text-decoration: none;
  color: #2d2f31;
} */

myDropDownNav {
  width: 300px;
  background: #d9d9d9;
  margin: 40px auto;
}

.myStatus {
  padding: 6px 6px 6px 10px;
  width: 100%;
  border-radius: 15px;
  /* background: #2d2f31; */
  background-color: #4ecdc4;
  color: white;
  font-size: 1.3rem;
  /* font-variant: small-caps; */
  cursor: pointer;
  display: block;
}

.myStatus::after {
  float: right;
  padding-right: 1rem;
  right: 10%;
  content: '+';
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
}

.slide .myli {
  padding: 10px;
  text-align: left;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 180px;
}

/* bg image form landing page */
.bg-image {
  background-image: url('./components/utils//imgs/landingsvg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px; /* Adjust the height to your desired size */
  width: 100%; /* Adjust the width to your desired size */
}

/* second */
.section-fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animate logo */
.gradient-bg {
  background: linear-gradient(
    -45deg,
    #ff0000,
    #ff00ff,
    #0000ff,
    #00ffff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* alerting message when user try to click home again and agian  */
.pop2 {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(-50%, -50%);
  animation: pop 0.5s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
